/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.wraper {
    width: 1201px;
    margin: auto;
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
    margin: auto;
}

.link {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

header {
    background-image: url(/Homework10/img/Layer15.png);
    background-size: cover;
    background-position: center;
    height: 1000px;
}

/* ==============header========== */
.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 28px;
    margin-bottom: 175px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

.main-nav__item {
    -ms-flex-preferred-size: 70px;
        flex-basis: 70px;
    /* outline: 2px solid red; */

}

.main-nav__item:not(:nth-child(7n)) {
    margin-right: 59px;
}

.menu__link {
    color: rgb(255, 255, 255);
    /* border-bottom: red; */
}

.menu__link:hover {
    color: rgb(252, 227, 138);
    border-bottom: 2px solid rgb(252, 227, 138);
    -webkit-transition-duration: 0.8s;
         -o-transition-duration: 0.8s;
            transition-duration: 0.8s;
    fill: rgb(252, 227, 138);

}

.main-nav__item--svg {
    fill: rgb(149, 225, 211);
}

.main-nav__item--white {
    fill: rgb(255, 255, 255);
}

.main-nav__item--white:hover {
    fill: rgb(252, 227, 138);
}

.button--white {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-family: "Montserrat";
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 34px;
    width: 156px;
    background: transparent;
    border-style: none;
    cursor: pointer;
    outline: 4px solid white;
}

/* ================main============= */

.title__text--services,
.title__text--team {
    font-family: "Kaushan Script", sans-serif;
    font-size: 24px;
    font-weight: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 51px;
    margin: 0 0 22px 0;
}

.subtitle__text--services,
.subtitle__text--team {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    margin: 0;
}

.subtitle {
    text-align: center;
}

.title__line--red {
    position: absolute;
    width: 60px;
    height: 4px;
    border-bottom: 3px solid rgb(243, 129, 129);
    left: 571px;
    top: 159px;
}

.title--services {
    margin-bottom: 127px;
    position: relative;
}

.title--header {
    font-size: 72px;
    color: white;
}

.subtitle--header {
    font-size: 150px;
    color: white;
}

/* ================we work with================= */
.menu--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1182px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    padding-left: 0;
    margin-bottom: 90px;
}

.main-nav__item--absolute {
    position: absolute;
}

.item-1,
.item-2,
.item-3 {
    width: 339px;
    margin-bottom: 100px;
}

.item-4,
.item-5,
.item-6 {
    width: 339px;
}

.menu__item--name {
    display: block;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 0 60px;
}

.menu__item--text {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    margin-left: 60px;
}

/* ===============who we are============== */
.info-team {
    max-width: 960px;
    margin: 0 auto 83px;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
}

.title--team {
    margin-bottom: 89px;
    position: relative;
}

.team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 90px;
}

.team__item {
    width: 381px;
}

.team--name {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top: 30px;
}

.team--profession {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}

.team__cart {
    position: relative;
}

.team__image {
    background-color: rgb(149, 225, 211);
    width: 380px;
    height: 470px;
}

.team__foto {
    position: relative;
    -webkit-transition-duration: 1s all ease;
         -o-transition-duration: 1s all ease;
            transition: 1s all ease;
}

.overlau {
    width: 380px;
    height: 470px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(252, 227, 138)), to(rgb(243, 129, 129)));
    background-image: -o-linear-gradient(bottom, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    background-image: linear-gradient(to top, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    position: absolute;
    top: 0px;
    opacity: 0;
    -webkit-transition-duration: 1s all ease;
         -o-transition-duration: 1s all ease;
            transition: 1s all ease;
}

.team__cart:hover .team__foto {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    /* -webkit-transition-duration: 1s all ease;
         -o-transition-duration: 1s all ease;
            transition: 1s all ease; */
}

.team__cart:hover .icon {
    opacity: 1;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}

.team__cart:hover .overlau {
    opacity: 0.9;
}

.icon__btn:hover {
    background-color: rgb(243, 129, 129);
    /* -webkit-transition-duration: 0.8s;
         -o-transition-duration: 0.8s;
            transition-duration: 0.8s; */
}

.icon__btn {
    border: 1px solid #f9bd87;
    cursor: pointer;
    width: 55px;
    height: 55px;
    background-color: rgb(252, 227, 138);
    -webkit-transition-duration: 1s all ease;
    -o-transition-duration: 1s all ease;
       transition: 1s all ease;
}

.icon__btn:hover .main-nav__item--social {
    fill: rgb(255, 255, 255);
    -webkit-transition-duration: 0.8s;
         -o-transition-duration: 0.8s;
            transition-duration: 0.8s;
}

.icon {
    width: 220px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: transparent;
    position: absolute;
    z-index: 1;
    margin: 208px 79px;
    opacity: 0;
    -webkit-transition-duration: 1s all ease;
    -o-transition-duration: 1s all ease;
       transition: 1s all ease;
}

.main-nav__item--social {
    fill: rgb(243, 129, 129);
}

/* ===============footer=========== */
.footer {
    height: 63px;
    border-top: 1px solid rgb(229, 229, 229);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 12px;
}

.footer__text,
.footer_link {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-decoration: none;
}

.footer_link {
    color: rgb(243, 129, 129);
}

.footer__info {
    margin-top: 25px;
    display: block;
}

.footer__info a:hover {
    color: rgb(243, 129, 129);
}

.input__button {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(149, 225, 211);
    height: 40px;
    width: 151px;
    border-style: none;
    cursor: pointer;
}

.input__email {
    width: 229px;
    height: 33px;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.6;
    margin-top: 11px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    header {
        background-image: url(/Homework10/img/Layer15@2x.png);
    }
}